doctype html
html(lang="en")
  head
    title Arezzo's Challenge
    link(type='text/css', rel='stylesheet', href='../css/arezzo.min.css')
  body
    header
        h1 Arezzo
    h2 Galeria XYZ
    #gallery.container
        p Just a simple text
          strong and other text
    script(type='text/javascript' src='../js/arezzo.min.js')
