doctype html
html(lang="en")
  head
    title Arezzo's Challenge

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(type='text/css', rel='stylesheet', href='../css/arezzo.min.css')
    link(type='text/css', rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600')
  body
    .doc
        header
            .container
                h1.brand Arezzo
                nav
                    span.hamburger =
                    ul.nav
                        li.web: a(href='#') Fechar
                        li: a(href='#') Home
                        li: a(href='#') Sobre
                        li: a(href='#') Empresa
                        li: a(href='#') Contato

        #main.container
            h2.highlight Galeria XYZ
            p.introduction Pequena descrição da galeria

            .gallery
                ul
                    li: a(href='#'): img(src='../img/1-thumb.jpg' data-id='1' class='thumb' height='68' width='175')
                    li: a(href='#'): img(src='../img/2-thumb.jpg' data-id='2' class='thumb' height='68' width='175')
                    li: a(href='#'): img(src='../img/3-thumb.jpg' data-id='3' class='thumb' height='68' width='175')
                    li: a(href='#'): img(src='../img/4-thumb.jpg' data-id='4' class='thumb' height='68' width='175')
                    li: a(href='#'): img(src='../img/5-thumb.jpg' data-id='5' class='thumb' height='68' width='175')
                    li: a(href='#'): img(src='../img/5-thumb.jpg' data-id='5' class='thumb' height='68' width='175')
                    li: a(href='#'): img(src='../img/4-thumb.jpg' data-id='4' class='thumb' height='68' width='175')
                    li: a(href='#'): img(src='../img/3-thumb.jpg' data-id='3' class='thumb' height='68' width='175')
                    li: a(href='#'): img(src='../img/2-thumb.jpg' data-id='2' class='thumb' height='68' width='175')
                    li: a(href='#'): img(src='../img/1-thumb.jpg' data-id='1' class='thumb' height='68' width='175')

            ul.pagination
                li: a(href='#' class='prev')
                    span Anterior
                li: a(href='#') 1
                li: a(href='#') 2
                li: a(href='#') 3
                li: a(href='#') 4
                li: a(href='#') 5
                li.mob: a(href='#') 6
                li.mob: a(href='#') 7
                li.mob: a(href='#') 8
                li.mob: a(href='#') 9
                li.mob: a(href='#') 10
                li: a(href='#' class='next')
                    span Próximo

    footer
        .container
            p Empresa XYZ - endereço xxxxx - 2014
            p Todos os direitos reservados

    .overlay.hide
    .modal.hide
        span.close X
        img(src='../img/1.jpg' width='520')

    script(type='text/javascript' src='../vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='../js/arezzo.min.js')
