@import 'Variables';
@import 'Mixins';

* {
    @include transition(all 0.2s ease);
}

html, body {
    height: 100%;
}

.doc {
    min-height: 100%;
    position: relative;
}

header {
    background: #f8f8f8;
    margin-bottom: 70px;
    overflow: auto;
    padding: 5px 0;

    h1 {
        float: left;
        font: 100 60px $fontFamily;
        margin-left: 10px
    }

    nav {
        float: right;
        margin-top: 25px;
    }

    .hamburger {
        display: none;
        font-size: 50px;
        line-height: 0px;
        margin-left: 10px;
        padding-top: 23px;
    }

    ul {
        display: block;
    }

    li {
        border-right: 1px solid #ccc;
        float: left;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }
    }

    .web {
        display: none;
    }

    a {
        color: #666;
        display: block;
        font: 100 16px $fontFamily;
        padding: 3px 10px;

        &:hover {
            color: #ccc;
        }
    }
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
}

.highlight {
    color: #666;
    font: 100 42px $fontFamily;
    margin-left: 10px;
}

.introduction {
    color: #999;
    font: 100 20px $fontFamily;
    margin-bottom: 30px;
    margin-left: 10px;
}

.gallery {
    ul {
        text-align: center;
    }

    li {
        display: inline-block;
        margin: 4px;
    }

    a {
        display: block;
    }

    img {
        border: 2px solid #ccc;

        &:hover {
            border-color: #eee;
            opacity: .8;
        }
    }
}

.pagination {
    display: table;
    margin: 30px auto;

    li {
        border-left: 1px solid #ccc;
        float: left;

        &:first-child {
            border-left: none;
        }
    }

    a {
        color: #666;
        display: block;
        font: 100 16px $fontFamily;
        padding: 0 10px;

        &:hover {
            color: #ccc;
        }
    }

    .prev, .next {
        height: 12px;
        margin-top: 3px;
        width: 17px;

        span {
            visibility: hidden;
        }

        &:hover {
            opacity: .7;
        }
    }

    .prev {
        background: url('../img/sprite.png') no-repeat 10px -26px;
    }

    .next {
        background: url('../img/sprite.png') no-repeat 10px 1px;
    }
}

footer {
    background: #f8f8f8;
    clear: both;
    height: 40px;
    margin-top: -70px;
    padding: 15px 0;
    position: relative;

    p {
        color: #666;
        font: 100 16px $fontFamily;
        line-height: 22px;
        text-align: center
    }
}

.overlay {
    background: #000;
    bottom: 0;
    left: 0;
    opacity: .5;
    position: fixed;
    right: 0;
    top: 0;
}

.modal {
    background: #000;
    border: 4px solid #ddd;
    border-radius: 8px;
    left: 50%;
    margin-left: -267px;
    margin-top: -140px;
    padding: 5px 5px 1px 5px;
    position: fixed;
    top: 50%;
    width: 520px;
}

.close {
    background: #fff;
    border-radius: 15px;
    color: red;
    cursor: pointer;
    display: inline-block;
    font: 100 16px "Helvetica Neue","Open Sans",sans-serif;
    padding: 5px 10px;
    position: absolute;
    right: -13px;
    top: -16px;
}

.hide {
    display: none;
}
